html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  outline: transparent;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: transparent;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #eeeeee;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 400px) {
  .container {
    padding: 0 10px;
  }
}

.btn {
  width: 260px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 51px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(238, 238, 238, 0.75);
  background-color: rgba(93, 43, 99, 0.6);
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 820px) {
  .btn {
    max-width: 220px;
  }
}

.btn:hover, .btn:focus {
  background-color: #5d2b63;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.image {
  max-width: 260px;
}

@media (max-width: 820px) {
  .image {
    max-width: 220px;
  }
}

@media (max-width: 580px) {
  .image {
    max-width: 160px;
  }
}

.title {
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
  opacity: 0.5;
}

.section {
  padding: 100px 0;
}

@media (max-width: 580px) {
  .section {
    padding: 60px 0;
  }
}

.promo {
  position: relative;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
  background-image: url("../img/screen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(36, 0, 31, 0.5);
  z-index: 2;
}

.video {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video__media {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.promo__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.promo__title {
  margin-top: 40px;
  font-size: 100px;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 580px) {
  .promo__title {
    margin-top: 20px;
    font-size: 75px;
  }
}

.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 140px);
  min-height: 600px;
}

@media (max-width: 580px) {
  .promo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: calc(100vh - 95px);
  }
}

@media (max-width: 580px) {
  .promo__image {
    margin-bottom: 20px;
  }
}

.promo__text {
  margin-left: 100px;
  width: 55%;
}

@media (max-width: 820px) {
  .promo__text {
    margin-left: 40px;
  }
}

@media (max-width: 580px) {
  .promo__text {
    width: 100%;
    margin-left: 0;
  }
}

.promo__list {
  font-size: 24px;
}

@media (max-width: 820px) {
  .promo__list {
    font-size: 21px;
  }
}

@media (max-width: 580px) {
  .promo__list {
    font-size: 17px;
  }
}

.promo__item {
  margin-bottom: 30px;
}

@media (max-width: 820px) {
  .promo__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 580px) {
  .promo__item {
    margin-bottom: 15px;
  }
}

.promo__btn {
  margin-top: 20px;
}

@media (max-width: 580px) {
  .promo__btn {
    display: block;
    margin: 10px auto 0;
  }
}

.composition {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#180413), to(#a56686));
  background-image: -o-linear-gradient(#180413, #a56686);
  background-image: linear-gradient(#180413, #a56686);
}

.composition__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 580px) {
  .composition__wrapper {
    display: block;
  }
}

.composition__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 580px) {
  .composition__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .composition__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.composition__items--right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 580px) {
  .composition__items--right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.composition__item {
  max-width: 170px;
  margin-bottom: 40px;
}

@media (max-width: 820px) {
  .composition__item {
    max-width: 120px;
  }
}

@media (max-width: 400px) {
  .composition__item {
    max-width: 100px;
  }
}

.composition__item:last-child {
  margin-bottom: 0;
}

.composition__item picture {
  display: block;
  width: 100%;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 820px) {
  .composition__item picture {
    height: 120px;
  }
}

@media (max-width: 400px) {
  .composition__item picture {
    height: 100px;
  }
}

.composition__image {
  width: 100%;
  height: 100%;
}

.composition__descr {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 580px) {
  .composition__product {
    text-align: center;
  }
  .composition__product img {
    margin: 0 auto;
  }
}

.composition__btn {
  margin-top: 30px;
}

.reviews {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a56686), to(#180413));
  background-image: -o-linear-gradient(#a56686, #180413);
  background-image: linear-gradient(#a56686, #180413);
}

.reviews__carousel {
  position: relative;
}

.reviews__carousel .slick-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.5;
  z-index: 10;
}

.reviews__carousel .slick-next {
  left: auto;
  right: 0;
}

@media (max-width: 580px) {
  .reviews__carousel .slick-next {
    right: -10px;
  }
}

@media (max-width: 580px) {
  .reviews__carousel .slick-prev {
    left: -10px;
  }
}

.review {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 820px) {
  .review {
    max-width: 85%;
  }
}

@media (max-width: 580px) {
  .review {
    display: block !important;
  }
}

.review__img {
  max-width: 200px;
  height: 200px;
  margin-right: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 820px) {
  .review__img {
    margin-right: 20px;
    max-width: 160px;
    height: 160px;
  }
}

@media (max-width: 580px) {
  .review__img {
    margin: 0 0 10px 0;
    max-width: 130px;
    height: 120px;
  }
}

.review__content {
  position: relative;
  line-height: 22px;
}

@media (max-width: 820px) {
  .review__content {
    line-height: 20px;
  }
}

.review__name {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 820px) {
  .review__name {
    margin-bottom: 15px;
  }
}

@media (max-width: 580px) {
  .review__name {
    position: absolute;
    top: -70px;
    left: 150px;
  }
}

.product {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#180413), to(#a56686));
  background-image: -o-linear-gradient(#180413, #a56686);
  background-image: linear-gradient(#180413, #a56686);
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 820px) {
  .product__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__wrapper picture {
    max-width: 460px;
    margin: 0 20px 5px;
  }
}

.product__text {
  max-width: 52%;
  margin-right: 50px;
}

@media (max-width: 820px) {
  .product__text {
    max-width: 100%;
    margin-right: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.product__descr {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

@media (max-width: 820px) {
  .product__descr {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

@media (max-width: 580px) {
  .product__descr {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 580px) {
  .product__btn {
    display: block;
    margin: 0 auto;
  }
}

.product__feature {
  margin-bottom: 15px;
}

.promotion {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a56686), to(#180413));
  background-image: -o-linear-gradient(#a56686, #180413);
  background-image: linear-gradient(#a56686, #180413);
}

.promotion__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  .promotion__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 700px) {
  .promotion__column--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.promotion__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 700px) {
  .promotion__price {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 40px 0;
  }
}

.promotion__old-price {
  margin: 0 15px;
  text-decoration: line-through;
  opacity: 0.6;
}

@media (max-width: 700px) {
  .promotion__old-price {
    margin: 0 20px;
  }
}

.promotion__new-price {
  margin: 0 15px;
  font-size: 48px;
  opacity: 0.8;
  -webkit-animation: animate 6s infinite;
          animation: animate 6s infinite;
}

@media (max-width: 700px) {
  .promotion__new-price {
    margin: 0 20px;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1.5) rotate(360deg);
            transform: scale(1.5) rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1.5) rotate(360deg);
            transform: scale(1.5) rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

.promotion__timer-title {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .promotion__timer-title {
    text-align: center;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .timer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.timer__block {
  width: 90px;
  margin-right: 15px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  background-color: #3f0130;
}

@media (max-width: 820px) {
  .timer__block {
    width: 80px;
    padding: 5px;
    margin-right: 10px;
  }
}

.timer__block:last-child {
  margin-right: 0;
}

.timer__block span {
  display: block;
  font-size: 48px;
}

.promotion__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 18px;
}

.promotion__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 20px;
  color: inherit;
  border: 1px solid rgba(238, 238, 238, 0.7);
}

.promotion__input:focus {
  border: 2px solid #eeeeee;
}

.promotion__input::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.promotion__input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.promotion__input:-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.promotion__input::-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.promotion__input::placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.promotion__btn {
  margin-top: 30px;
}

@media (max-width: 580px) {
  .promotion__btn {
    display: block;
    margin: 0 auto;
  }
}
